#main-menu a {
	color: #0c0c1f !important;
}

.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
	background: #0c0c1f !important;
}

.homepage-headline {
	font-size: 70px;
	line-height: 1.1;
}

.main-button {
	padding: 20px 25px;
	background: #dcbc95;
	border: 0;
	color: #fff;
	font-weight: 500;
	transition: .5s ease;
	text-transform: uppercase;
	font-family: "Gotham Narrow";
	margin: 20px auto;
	font-size: 16px;
	line-height: 1.5;
}

.main-button:hover {
	background-color: #999 !important;
}

.underline {
	text-decoration: underline;
}

.text-gold {
	color: #dcbc95 !important;
}

.text-gray {
	color: #aaaaaa !important;
}

.mt-25p {
	margin-top: 25px;
}

a:hover {
	opacity: 50%;
	transition: 0.2s all ease;
}

span.sub-arrow {
	border-color: #000000 transparent transparent transparent !important;
}

div#preloader {
	background: #FEFEFE url(../img/logo.png) no-repeat scroll center center !important;
}